<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="3600">
	<Properties>
		<Property name="log-path">/tmp/logs</Property>
		<Property name="log-level">info</Property>
		<Property name="isAsync">false</Property>
	</Properties>
	<Appenders>
		<Console name="console-log" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
		</Console>
		<RollingFile name="client-log" fileName="${log-path}/client.log"
			filePattern="${log-path}/client-%d{yyyy-MM-dd}.log" bufferedIO="${isAsync}">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<RollingFile name="client-error-log" fileName="${log-path}/client-error.log"
			filePattern="${log-path}/client-error-%d{yyyy-MM-dd}.log" bufferedIO="${isAsync}">
			<PatternLayout>
				<pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1.} - %msg%n
				</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
		</RollingFile>
		<File name="buffer-error-log" fileName="${log-path}/buffer-error.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
		</File>
		<Async name="Async" errorRef="buffer-error-log">
			<AppenderRef ref="client-log" />
		</Async>
		<Async name="Async-error" errorRef="buffer-error-log">
			<AppenderRef ref="client-error-log" />
		</Async>
	</Appenders>
	<Loggers>
		<Logger name="com.snapdeal" level="${log-level}" additivity="false">
			<appender-ref ref="Async" level="${log-level}" />
			<appender-ref ref="Async-error" level="error" />
		</Logger>
		<Root level="${log-level}" additivity="false">
			<AppenderRef ref="console-log" />
		</Root>
	</Loggers>
</Configuration>
